.dropZone {
  width: 338px;
  height: 218.9px;
  background-color: #f6f8fb;
  margin: 0 auto;
  border-radius: 12px;
  display: grid;
  place-content: center;
  border-color: red;

  border-color: #97bef4;
  border-style: dashed;
}

.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropZoneImage {
  width: 114.13px;
  height: 88.24px;
}
